<div class="contenedor">
    <div class="about image">
        <img src="../../../assets/images/gummy-coding.svg" alt="aboutImagen">
    </div>

    <div class="about text">
        <h2>Información</h2>
        <h2>sobre mí.</h2>
        <p>Vivo en Madrid, me gusta la naturaleza y pintar. <br>
            El desarrollo web me parece muy interesante por el mix de diciplinas que abarca: <br>
           <strong>usuario - diseño - código</strong> <br>
            y, sin lugar a dudas, por su gran alcance. 
        </p>
        <a href="../../../assets/images/VGB-CV.pdf" class="myButton">Mi curriculum</a>
    </div>
</div>