<div class="contenedor">
    <div class="hero-text">
        <h1>Hola, soy Virginia</h1>
        <h1>.: Soy desarrolladora Front-End :.</h1>
        <p>Recientemente he terminado mi formación en <strong>HTML, CSS y Javascript</strong> y creación de
            API ReST con <strong>MEAN: MongoDB, Express, Angular y Node.js.</strong>. Este portfolio son prácticas que he realizado 
           durante mi proceso de aprendizaje.
           <a class="cv" href="../../../assets/images/VGB-CV.pdf" target="_blank">Ver mi curriculum</a>
        </p> 
        <a (click)="navigateTo($event)" routerLink="" fragment="proyectos" class="myButton">Ir a proyectos</a>
       
    </div>
    <div class="hero-img">
        <img src="../../../assets/images/pale-woman-works-with-computer.png" alt="hello">
    </div>

</div>