<div class="contenedor">
    <h2>Proyectos</h2>
    <div class="filtros">
        <ul>
            <li (click)="cargarCategorias()">Todos</li>
            <li (click)="cargarCategorias(categoria)" *ngFor="let categoria of arrCategoria">{{categoria}}</li>
        </ul>
    </div>
    <div class="list-pojects">
        <div class="proyecto" *ngFor="let proyecto of arrProyectos">
            <div class="p-head">
                <h3>{{proyecto.titulo}}</h3>
            </div>
            <div class="p-body">
                <h4>{{proyecto.titulo}}</h4>
                <p>Desarrollado con:<br>{{proyecto.categoria}}</p>
                <a href="{{proyecto.repo}}" class="myButton repo" target="_blank">-ver repositorio-</a>
                <div class="footer">
                    <a href="{{proyecto.url}}" class="myButton web" target="_blank">WEB</a>
                </div>
            </div>
        </div>
    </div>
</div>